###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# Set the merge driver for project and solution files
###############################################################################

*.sln        text
*.csproj     text
*.vbproj     text
*.vcxproj    text
*.vcproj     text
*.dbproj     text
*.fsproj     text
*.lsproj     text
*.wixproj    text
*.modelproj  text
*.sqlproj    text
*.wmaproj    text

*.xproj      test
*.props      text
*.filters    text
*.vcxitems   text